<div class="page-header" data-parallax="true" style="background-image: url('https://storage.googleapis.com/myproject-243110.appspot.com/31.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Blogs</h1>
            <h3>Scroll down to explore some amazing blogs.</h3>
        </div>
    </div>
</div>
<div class="image-container">

    <div class="container blog-container">
        <!-- row 1--->
        <div class="row">
            <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://storage.googleapis.com/myproject-243110.appspot.com/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">MAGIC OF BEGINNINGs</h5>
                                <p class="card-text">
                                    Time came and everyone of us knew we had to choose our direction .Right from the...
                                </p>
                                <a [routerLink]="['/blog1']" class="btn btn-primary">Visit Blog</a>
                            </div>
                    </div>
            </div>
          
            <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://storage.googleapis.com/myproject-243110.appspot.com/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">MAGIC OF BEGINNINGs</h5>
                                <p class="card-text">
                                    Time came and everyone of us knew we had to choose our direction .Right from the...
                                </p>
                                <a [routerLink]="['/blog1']" class="btn btn-primary">Visit Blog</a>
                            </div>
                    </div>
            </div>
    
            <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://storage.googleapis.com/myproject-243110.appspot.com/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">MAGIC OF BEGINNINGs</h5>
                                <p class="card-text">
                                    Time came and everyone of us knew we had to choose our direction .Right from the...
                                </p>
                                <a [routerLink]="['/blog1']" class="btn btn-primary">Visit Blog</a>
                            </div>
                    </div>
            </div>
    
        </div>
        <div class="row">
            <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://storage.googleapis.com/myproject-243110.appspot.com/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">MAGIC OF BEGINNINGs</h5>
                                <p class="card-text">
                                    Time came and everyone of us knew we had to choose our direction .Right from the...
                                </p>
                                <a [routerLink]="['/blog1']" class="btn btn-primary">Visit Blog</a>
                            </div>
                    </div>
            </div>
          
            <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://storage.googleapis.com/myproject-243110.appspot.com/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">MAGIC OF BEGINNINGs</h5>
                                <p class="card-text">
                                    Time came and everyone of us knew we had to choose our direction .Right from the...
                                </p>
                                <a [routerLink]="['/blog1']" class="btn btn-primary">Visit Blog</a>
                            </div>
                    </div>
            </div>
    
            <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://storage.googleapis.com/myproject-243110.appspot.com/1.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">MAGIC OF BEGINNINGs</h5>
                                <p class="card-text">
                                    Time came and everyone of us knew we had to choose our direction .Right from the...
                                </p>
                                <a [routerLink]="['/blog1']" class="btn btn-primary">Visit Blog</a>
                            </div>
                    </div>
            </div>
    
    
        </div>
        
        <!-- Row 2s -->
    </div>
</div>
