.image-container{
    background-image: url(../../assets/img/B1.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 10%;
}
.row{
    margin: 3%;
}