<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/2612371.jpg');">
  <div class="container">
      <div class="chapter-heading text-center">
          <h1>MSIT Student Chapter</h1>
          <h3>IWSC Team Leads at MSIT Student Chapter</h3>
      </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title">About us</h2>
              <h5 class="description">IWSC AT MSI-T has been branded as MSI-T UNFILTERED.
                It's been a great success because in just 1 month of our existence we have got 500+ followers and everyone in the college knows about us.
                We've organised our own events like treasure hunt,been a part of donation drive.
                Also sponsored other events being their media and marketing partners.
                IWSC MSI-T team has a mix of technical,creative and extraordinary members who plan to take MSI-T UNFILTERED to unseen heights.
              </h5>
              <br>
          </div>
      </div>
      <div class="row">
          <div class="col"></div>
          <div class="col" >
             <img src="../../../../assets/img/student-chapters/prerna-msit.jpeg" class="img-circle img-no-padding img-responsive">
             <h4 style="text-align:center">Prerna Mehta</h4>  
             <p  class="text-center">Team Lead</p>
           </div>
           <div class="col">
             <img src="../../../../assets/img/student-chapters/tanishq-msit.jpeg" class="img-circle img-no-padding img-responsive">
             <h4 style="text-align:center">Tanishq Rana</h4>
             <p  class="text-center">Team Lead</p>
           </div>
           <div class="col"></div>
      </div>

      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title">Find out more about us</h2>
              <a href=""><i class="fas fa fa-facebook fa-lg"></i></a>
              <a href="https://instagram.com/iwscsrm"><i class="fas fa fa-instagram fa-lg"></i></a>
              <a href=""><i class="fas fa fa-linkedin fa-lg"></i></a>
          </div>
      </div>

    </div>
  </div>
<!-- [4:56 PM, 11/4/2019] Kritarth IW: IWSC Team Leads at MSIT Student Chapter
(Maharaja Surajmal Institute Of Technology)
[4:57 PM, 11/4/2019] Kritarth IW: 
Instagram:https://instagram.com/inceptionwavemsi_msit?igshid=jjlj2y87hsa0 -->


<!-- [7:17 PM, 11/4/2019] Kritarth IW: Aaryani Dogra
[7:17 PM, 11/4/2019] Kritarth IW: Radhika Bansal -->
<!-- IWSC Drc Chapter focuses on building work culture and flourishing innovation among drc students by providing a common platform to connect students of various departments having common interests,so as to help them to upgrade their skills.
It is an interactive network where students get to know more about their college,college students and their stories,alumni,culture and traditions of the college. -->