<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image:linear-gradient(#4B79A1,#283E51)">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div style="max-width:100%;"class="avatar">
                    <img style="height:250px;width:250px" src="https://infinity-effects.firebaseapp.com/gp2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Gaurav Prasad<br /></h4>
                    <h6 class="description">Chief Technical Officer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Gaurav Prasad is an experienced mobile application developer with a demonstrated history of working in the Information Technology and Services domain. He is skilled in C++, SendGrid, Android, Mean Stack, and Java and has worked in several projects. Being a strong engineering professional and a student pursuing his B.Tech in Computer Science, he stands out from the crowd and is an integral part of team. </p>
                    <br />
                 <a href="https://www.facebook.com/gaurav.prasad.77">   <button class="btn btn-outline-default btn-round"><i class="fa fa-facebook"></i></button></a>
                 <a href="https://www.instagram.com/_.gaurav11._/">   <button class="btn btn-outline-default btn-round"><i class="fa fa-instagram"></i></button></a>
                 <a href="https://www.linkedin.com/in/gaurav-prasad-946307161/">   <button class="btn btn-outline-default btn-round"><i class="fa fa-linkedin"></i></button></a>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
