.image-container{
    background-image: url('https://storage.googleapis.com/myproject-243110.appspot.com/11.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
img{
    border: groove;
    width: 25%;
    margin: 4%;
    transition-duration: 1s;
}
img:hover{
    transform: rotateY(180deg);
    transition-duration: 1s;
}