<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image:linear-gradient(#4B79A1,#283E51)">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div style="max-width:100%;"class="avatar">
                    <img style="height:250px;width:250px" src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/WhatsApp%20Image%202019-06-13%20at%2015.34.05.jpeg?alt=media&token=7961ae51-d1b1-42ef-ac60-feb6bdee3d14" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Shivang Kaul<br /></h4>
                    <h6 class="description">Mobile Application Developer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>While growing up, this guy had just one thing in mind - "I want to do something in the field of computer science and do innovations in the field".
                            He is a tech savvy guy with an unceasing sense of wonder, skilled in Firebase, Ionic Framework, C++ and Web based applications.
                            He is one of the technical heads at Inception Wave. Before you explain it, he codes it. </p>
                    <br />
                 <a href="https://www.facebook.com/shivang.kaul.7">   <button class="btn btn-outline-default btn-round"><i class="fa fa-facebook"></i></button></a>
                 <a href="https://www.instagram.com/shangkaul/">   <button class="btn btn-outline-default btn-round"><i class="fa fa-instagram"></i></button></a>
                 <a href="https://www.linkedin.com/in/shivang-k-876906110/">   <button class="btn btn-outline-default btn-round"><i class="fa fa-linkedin"></i></button></a>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
