<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image:linear-gradient(#4B79A1,#283E51)">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div style="max-width:100%;"class="avatar">
                    <img style="height:250px;width:250px" src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/arshia.jpeg?alt=media&token=5d9b4685-20a3-48b0-8357-a74afc58ab87" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Arshia Agrawal<br /></h4>
                    <h6 class="description">Human Resource Manager</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>The job of management is not to select the best ideas, it is to create a system that allows for the best ideas to emerge.
                            Keeping this in mind, with her keen interest in management, she brings out perfection in people around her. That being said, she is also an avid reader and a trained singer. When she isn't working, you'll find her scrounging through the kitchen like a goblin. 
                            Her mantra : Stay Hungry, Stay Foolish! ✌️ </p>
                    <br />
                 <a href="https://www.facebook.com/arshiaagrawal98">   <button class="btn btn-outline-default btn-round"><i class="fa fa-facebook"></i></button></a>
                 <a href="https://www.instagram.com/arshu.01/">   <button class="btn btn-outline-default btn-round"><i class="fa fa-instagram"></i></button></a>
                 <a href="https://www.linkedin.com/in/arshia-agrawal-9b1384159">   <button class="btn btn-outline-default btn-round"><i class="fa fa-linkedin"></i></button></a>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
