.page-header{
    background-color: rgb(41, 41, 41);
}
.container{
    text-align: center;
}
.blog-content{
    text-align: justify;
    line-height:170%;
    margin: 5%;
}
.blog-heading{
    font-size: 50px;
}

@media only screen and (max-width: 600px) {
    .blog-heading{
        font-size: 30px;
    }
    img{
        width: 50%;
    }
}