  <br>
  <div class="row">
    <div class="col">
        <a [routerLink]="['/srm-chennai']"><button class="button button1">SRM Chapter</button></a>
    </div>
    <div class="col">
        <a [routerLink]="['/msit-chapter']"><button class="button button1">MSIT Chapter</button></a>
    </div>
    <div class="col">
        <a [routerLink]="['/drc-chapter']"><button class="button button1">DRC Chapter</button></a>
    </div>
  </div>
  <!-- <div class="row">
      <div class="col">
          <button class="button button2">Chennai</button>
      </div>
      <div class="col">
          <button class="button button1">Chennai</button>
      </div>
      <div class="col">
          <button class="button button2">Chennai</button>
      </div>
    </div> -->