  <br>
  <div class="row">
    <div class="col">
        <a [routerLink]="['/chennai-chapter']"><button class="button button1">Chennai</button></a>
    </div>
    <div class="col">
        <button class="button button2">Chennai</button>
    </div>
    <div class="col">
        <button class="button button1">Chennai</button>
    </div>
  </div>
  <div class="row">
      <div class="col">
          <button class="button button2">Chennai</button>
      </div>
      <div class="col">
          <button class="button button1">Chennai</button>
      </div>
      <div class="col">
          <button class="button button2">Chennai</button>
      </div>
    </div>