<div class="container text-center">
  <div class="mentor-head">
      <h1>Mentors</h1>
  </div>

<div class="row">
  <div class="col">

      <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="../../../assets/img/faces/ayo-ogunseinde-2.jpg" alt="Avatar" style="width:300px;height:300px;">
                <p>Name goes here</p>
            </div>
            <div class="flip-card-back">
              <h2>Name</h2> 
              <p>Position here</p> 
              <a [routerLink]="['/mentor1']"><button class="btn btn-success"> Click here to know more</button></a>
            </div>
          </div>
        </div>
    
  </div>
  <div class="col">

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="../../../assets/img/faces/ayo-ogunseinde-2.jpg" alt="Avatar" style="width:300px;height:300px;">
                <p>Name goes here</p>
            </div>
            <div class="flip-card-back">
              <h2>Name</h2> 
              <p>Position here</p> 
              <button class="btn btn-success">Click here to know more</button>
            </div>
          </div>
        </div>
    

  </div>

  <div class="col">

      <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="../../../assets/img/faces/ayo-ogunseinde-2.jpg" alt="Avatar" style="width:300px;height:300px;">
                <p>Name goes here</p>
            </div>
            <div class="flip-card-back">
              <h2>Name</h2> 
              <p>Position here</p> 
              <button class="btn btn-success">Click here to know more</button>
            </div>
          </div>
        </div>
    
  

</div>

</div>
