<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image:linear-gradient(#4B79A1,#283E51)">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div style="max-width:100%;"class="avatar">
                    <img style="height:250px;width:250px" src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/mega.jpeg?alt=media&token=9fc68c3d-fd02-49a7-acfb-8a7bbb91470c" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Megha Garg<br /></h4>
                    <h6 class="description">Director</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Megha is the director and one of the co-founders of the Inception Wave Pvt. Ltd.
                            She is a technical member of our team working shoulder to shoulder with her male counterparts.
                            She is an exceptional developer at Inception Wave and she is passionate to develop applications for the greater good. There is no doubt about her expertise in the field of Java, JavaScript, Node.js and Ionic Framework.
                            On top of this, Megha is a very good singer.</p>
                    <br />
                 <a href="https://www.facebook.com/mg.megha18">   <button class="btn btn-outline-default btn-round"><i class="fa fa-facebook"></i></button></a>
                 <a href="https://www.instagram.com/megha_garg18/">   <button class="btn btn-outline-default btn-round"><i class="fa fa-instagram"></i></button></a>
                 <a href="https://www.linkedin.com/in/megha-garg-111491153/">   <button class="btn btn-outline-default btn-round"><i class="fa fa-linkedin"></i></button></a>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
