<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image:linear-gradient(#4B79A1,#283E51)">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div style="max-width:100%;"class="avatar">
                    <img style="height:250px;width:250px" src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/WhatsApp%20Image%202019-06-13%20at%2015.34.13.jpeg?alt=media&token=05fa1654-0315-4990-9048-11bcf0a84600" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Kritarth Mittal<br /></h4>
                    <h6 class="description">Chief Executing Officer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>Kritarth Mittal is one of the co-founders of Inception Wave with a demonstrated history of working in the computer software industry. Skilled in C, C++, Python (Programming Language), Machine Learning, Java, and Data Structures, He is also a strong marketing professional pursuing his Bachelor of Technology in Computer Science from SRM University. He likes to learn, ideate and innovate in his spare time. He has won pitching competitions and assisted others for the same. He also has a strong network of professionals and investors from the industry which comes in handy from time to time.</p>
                    <br />
                 <a href="https://www.facebook.com/kritarhmittal">   <button class="btn btn-outline-default btn-round"><i class="fa fa-facebook"></i></button></a>
                 <a href="https://www.instagram.com/_the.unfathomed.senor_/">   <button class="btn btn-outline-default btn-round"><i class="fa fa-instagram"></i></button></a>
                 <a href="https://www.linkedin.com/in/kritarth-mittal/">   <button class="btn btn-outline-default btn-round"><i class="fa fa-linkedin"></i></button></a>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
