<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image:linear-gradient(#4B79A1,#283E51)">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div style="max-width:100%;"class="avatar">
                    <img style="height:250px;width:250px" src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/kriti.jpeg?alt=media&token=06ad8963-938a-4280-a241-9fdffb1ac719" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Kriti Mittal<br /></h4>
                    <h6 class="description">Region Head MP</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>
                            She has a profound knowledge about Interior Design and Development. She has worked on 3D Studio Max, Adobe Photoshop, AutoCAD, Google Sketchup etc. during her Bachelor of Design from SNDT University. She likes to sing and paint in her spare time.
                         </p>
                    <br />
                 <a href="https://m.facebook.com/profile.php?id=100011806600726">   <button class="btn btn-outline-default btn-round"><i class="fa fa-facebook"></i></button></a>
                 <a href="https://instagram.com/ms.designer_km">   <button class="btn btn-outline-default btn-round"><i class="fa fa-instagram"></i></button></a>
                 <a href="https://www.linkedin.com/in/kriti-mittal-97bb95147">   <button class="btn btn-outline-default btn-round"><i class="fa fa-linkedin"></i></button></a>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
