<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/2612371.jpg');">
  <div class="container">
      <div class="chapter-heading text-center">
          <h1>DRC Student Chapter</h1>
          <h3>IWSC Team Leads at DRC Student Chapter</h3>
      </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title">About us</h2>
              <h5 class="description">IWSC Drc Chapter focuses on building work culture and flourishing innovation among drc students by providing a common platform to connect students of various departments having common interests,so as to help them to upgrade their skills.
                It is an interactive network where students get to know more about their college,college students and their stories,alumni,culture and traditions of the college.

              </h5>
              <br>
          </div>
      </div>
      <div class="row">
          <div class="col"></div>
          <div class="col" >
             <img src="../../../../assets/img/student-chapters/radhika-drc.jpeg" class="img-circle img-no-padding img-responsive">
             <h4 style="text-align:center">Radhika Bansal</h4>  
             <p  class="text-center">Team Lead</p>
           </div>
           <div class="col">
             <img src="../../../../assets/img/student-chapters/aaryani-drc.jpeg" class="img-circle img-no-padding img-responsive">
             <h4 style="text-align:center">Aaryani Dogra</h4>
             <p  class="text-center">Team Lead</p>
           </div>
           <div class="col"></div>
      </div>

      <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
              <h2 class="title">Find out more about us</h2>
              <a href=""><i class="fas fa fa-facebook fa-lg"></i></a>
              <a href="https://instagram.com/iwscsrm"><i class="fas fa fa-instagram fa-lg"></i></a>
              <a href=""><i class="fas fa fa-linkedin fa-lg"></i></a>
          </div>
      </div>

    </div>
  </div>
