
.btn-internship{
    background: linear-gradient(to right, dodgerblue 50%, darkorchid 50%);
    background-position:left bottom;
    background-size: 200% 100%;
    border: 0;
    transition:all 1.2s ease;
}
.btn-internship:hover{
    background-position:right bottom;
}
#dropdownBasic1{
    font-size: 15px;
}
