<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image:linear-gradient(#0e44a3,rgb(1, 40, 75))">
      <div class="filter"></div>
  </div>
  <div class="section profile-content">
      <div class="container">
          <div class="owner">
              <div style="max-width:100%;"class="avatar">
                  <img style="height:250px;width:250px" src="../../../../assets/img/mentors/ritesh-bhat.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
              </div>
              <div class="name">
                  <h2 class="title">Ritesh Bhat<br/></h2>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                  <p>About the mentor</p>
                  <br />
               <a href="https://instagram.com/__bhatman__"><i class="fa fa-instagram fa-lg"></i></a>
               <a href="https://www.linkedin.com/in/ritesh-bhat-528895a3"><i class="fa fa-linkedin fa-lg"></i></a>
              </div>
          </div>
          <br/>
      </div>
  </div>
</div>
