<!-- Services -->
<div class="services">
  <div class="text-center">
        <h2 class="ourservices">OUR SERVICES</h2>
    <div  class=row>
      <div class="col">
        <img class="servicesimage1" src="../../assets/img/vectors/web.png">
      </div>
      <div class="col">
        <img class="servicesimage2" src="../../assets/img/vectors/app.png" height="50%" >
      </div>
      <div class="col">
        <img class="servicesimage3" src="../../assets/img/vectors/buisness.png" >
      </div>
    </div>

    <div class="row">
        <div class="col">
          <h3 class="servehead">Web Development</h3>
        </div>
        <div class="col">
          <h3 class="servehead">Application Development</h3>
        </div>
        <div class="col">
          <h3 class="servehead">Marketing & Buisness Solutions</h3>
        </div>
    </div>
</div>
</div>