<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('https://storage.googleapis.com/myproject-243110.appspot.com/backgroundimage1.jpg')">
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <img class="companylogo" src="assets/img/logo.png" alt="logo">
                    <h2 class="presentation-title">Inception Wave</h2>
                </div>
                <h2 class="presentation-subtitle text-center">Ameliorating Work Culture</h2>
            </div>
        </div>
    </div>
</div>   

<!-- ----------------------------------Who are we----------------------------------- -->


<div  class="row whoarewerow">
    <div class="col-1"></div>
    <div class="col-3 wecontainer">
        <h2 class="whoareweheading">Who are We?</h2> 
    </div>
    <div class="col-8">
        <p class="right" float="right">
            Inception Wave is an Indian software company,
            currently working on developing a social media platform to bring together like minded 
            individuals and help them improve their productivity by collaborating and achieving common 
            goals and milestones. Inception Wave was founded in December '18 and got incorporated in February '19.
             Currently, 10 exceptionally motivated individuals are working day and night to bring the company's vision to reality.
        </p>
    </div>
  </div>

<!-------------------------------------------------Our Projects --------------------------------------->


  <div style="background:black">
    <div class=row>
        <div class="col-md-12">
            <br>
            <h2 class="ourprojects">
             <b>Our Projects </b>
            </h2 >
        </div>
    </div>
    <div style="padding:5%"  class="row">
        <div  class="col-md-4">
            <div style="padding:0px" class=" card team-player">
                    <h4 style="text-align: center" class="category text-primary">SRMpedia</h4>                                
                <div  class="card-body">
                    <p  class="description" style="color:black;font-size: 15px">College is the beginning of a new chapter in our lives. We step out of our homes, our cocoons into this entirely new world, were we try to find a place for ourselves. New place, new faces and a new language can often be intimidating. SRMIST being a place with a huge student population and a vast campus in the city of Chennai provides you with a plethora of activities you could indulge in but also leaves the students feeling overwhelmed and confused. Struggling to find the way is very common among the students and in addition, the language being new makes things harder.
                        We bring you SRMpedia, an app or rather your own personal guide which will be an answer to all your problems.
                    </p>                               
                </div>
            </div>
        </div>
 <div  class="col-md-4">
                <div style="padding:0px"  class=" card team-player">
                        <h4 style="text-align: center" class="category text-primary">Grapido</h4>

                    
                    <div  class="card-body">
                    <p  class="description" style="color:black;font-size: 15px">Ever find yourself stuck in a situation where you don’t really know how to proceed in life to follow your passion? Ever wondered where you can find yourself a good mentor whom you can look upto? Or have you ever thought of finding people like you to help you do wonders !!
                        We are pretty sure that once in a while, you do. We did too !
                        
                        Grapido is India’s very first spatially optimised growth-oriented social media platform to help you connect with like minded individuals around you, work together to nurture your skills and follow your passion to achieve common goals and milestones. It is a platform where you can showcase your talent and learn from others at the same time.</p>
        </div>
                </div>
            </div>
            <div  class="col-md-4">
                    <div style="padding:0px"  class=" card team-player">
                            <h4 style="text-align: center" class="category text-primary">Swift Care</h4>
    
                        
                        <div  class="card-body">
                        <p  class="description" style="color:black;font-size: 15px">We aim to automate the medical out patient cycle by removing waiting queues for the patients needing medical attention and/or to get victim's medical information like allergies, blood group in case of an accident or any other emergency.
                                This application provides an interface between the doctor and a patient and keeps record of patients' medical history makeing it convenient for doctors to keep track and store transfers and transaction history. This app also finds patterns among the diseases along with location data and plots using heatmap if a disease is spreading violently and notifies users in those locations suggesting the precautions to take. </p>
                    </div>
                    </div>
       
        
    </div>
    </div>
  </div>


  <!-- ----------------     Services             ------------------------------------->
  <div class="services">
    <div class="text-center">
          <h2 class="ourservices"><b>Our Services</b></h2>
      <div class="row">
        <div class="col">
          <img class="servicesimage1" src="https://storage.googleapis.com/myproject-243110.appspot.com/vectors/web1.png">
        </div>
        <div class="col">
          <img class="servicesimage2" src="https://storage.googleapis.com/myproject-243110.appspot.com/vectors/app1.png" height="50%" >
        </div>
        <div class="col">
          <img class="servicesimage3" src="https://storage.googleapis.com/myproject-243110.appspot.com/vectors/buisness2.png" >
        </div>
      </div>
  
      <div class="row">
          <div class="col">
            <h3 class="servehead">Web Development</h3>
          </div>
          <div class="col">
            <h3 class="servehead">Application Development</h3>
          </div>
          <div class="col">
            <h3 class="servehead">Marketing & Buisness Solutions</h3>
          </div>
      </div>
  </div>
  </div>

 <!-- -------------------------------  Gallery  --------------------------- -->


  <div class="section" id="carousel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
                <div class="card page-carousel">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img class="gallery-img"  src="https://storage.googleapis.com/myproject-243110.appspot.com/1.jpeg" alt="Random first slide">
                            <!-- <div class="carousel-caption">
                                <p>Somewhere</p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="gallery-img" src="https://storage.googleapis.com/myproject-243110.appspot.com/2.jpeg" alt="Random second slide">
                            <!-- <div class="carousel-caption">
                                <p>Somewhere else</p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="gallery-img" src="https://storage.googleapis.com/myproject-243110.appspot.com/3.jpeg" alt="Random third slide">
                            <!-- <div class="carousel-caption">
                                <p>Here it is</p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="gallery-img" src="https://storage.googleapis.com/myproject-243110.appspot.com/4.jpeg" alt="Random third slide">
                            <!-- <div class="carousel-caption">
                                <p>Here it is</p>
                            </div> -->
                        </ng-template>
                        <ng-template ngbSlide>
                          <img class="gallery-img" src="https://storage.googleapis.com/myproject-243110.appspot.com/5.jpeg" alt="Random third slide">
                          <!-- <div class="carousel-caption">
                              <p>Here it is</p>
                          </div> -->
                        </ng-template>  
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-container">
      <a [routerLink]="['/gallery']" class="btn  btn-round">Dive into the Gallery</a>
  </div>
  </div>  
<div class="student-chapter-container">

  <div class="container ">

        <div class="text-center">
            <h2 class="ourservices"><b>Student Chapters</b></h2>
            <app-chapters></app-chapters>
        </div>
  </div>
      
</div> -->
  <!-------------------------------------------Blogs ----------------------------------->
 <div class="text-center">
    <h2 class="ourservices"><b>Blogs</b></h2>
</div>

<div class="container blog-container">
    <div class="row">
        <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://storage.googleapis.com/myproject-243110.appspot.com/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MAGIC OF BEGINNINGs</h5>
                            <p class="card-text">
                                Time came and everyone of us knew we had to choose our direction .Right from the...
                            </p>
                            <a [routerLink]="['/blog1']" class="btn btn-primary">Visit Blog</a>
                        </div>
                </div>
        </div>
      
        <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://storage.googleapis.com/myproject-243110.appspot.com/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MAGIC OF BEGINNINGs</h5>
                            <p class="card-text">
                                Time came and everyone of us knew we had to choose our direction .Right from the...
                            </p>
                            <a [routerLink]="['/blog1']" class="btn btn-primary">Visit Blog</a>
                        </div>
                </div>
        </div>

        <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="https://storage.googleapis.com/myproject-243110.appspot.com/1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">MAGIC OF BEGINNINGs</h5>
                            <p class="card-text">
                                Time came and everyone of us knew we had to choose our direction .Right from the...
                            </p>
                            <a [routerLink]="['/blog1']" class="btn btn-primary">Visit Blog</a>
                        </div>
                </div>
        </div>


    </div>
    
</div>
<div class="btn-container">
    <a [routerLink]="['/blogs']" class="btn  btn-round">See more Blogs</a>
</div>
<!----------------------------------------- ABout us------------------------- -->
        <div id="images">
        <p style="text-align: center" class="aboutus">
        <br>
        About Us
        </p>
        <div class="container about-us-cont">
        <div class="row">

        <div  class="col-xs-6  col-sm-3 col-md-2 offset-md-1" routerLinkActive="active">
        <a [routerLink]="['/yash']">     <h4 style="text-align:center" class="images-title">Yash<br> Aggarwal</h4> </a>
        <a [routerLink]="['/yash']"> <p style="text-align: center">    <img   src="https://firebasestorage.googleapis.com/v0/b/linkhub-19f1f.appspot.com/o/lukyjtghcfgjvhkj.jpg?alt=media&token=799ae455-17db-4d8f-b032-fda6840701c3" class="img-circle img-no-padding img-responsive" alt="Rounded Image"></p></a>
        <p  style="font-size: 10px" class="text-center">Director</p>
        </div>
        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1" routerLinkActive="active">
        <a [routerLink]="['/kritarth']"><h4 style="text-align:center" class="images-title">Kritarth<br>Mittal</h4></a>
        <a [routerLink]="['/kritarth']"><p style="text-align: center"> <img src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/WhatsApp%20Image%202019-06-13%20at%2015.34.13.jpeg?alt=media&token=05fa1654-0315-4990-9048-11bcf0a84600" class="img-circle img-no-padding img-responsive" alt="Rounded Image"></p></a>
            <p style="font-size: 10px" class="text-center">Chief Executive Officer</p>
        </div>
        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1" routerLinkActive="active">
                <a [routerLink]="['/kartik']">     <h4 style="text-align:center" class="images-title">Kartik<br>Tiwari</h4></a>
                <a [routerLink]="['/kartik']"><p style="text-align: center"> <img src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/kartik.jpeg?alt=media&token=f9a8a76f-108e-47de-920f-efa8dde9f155" class="img-circle img-no-padding img-responsive" alt="Rounded Image"></p></a>
                <p style="font-size: 10px" class="text-center">Chief Operating Officer</p>
            </div>
            <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1" routerLinkActive="active">
                    <a [routerLink]="['/gaurav']">                    <h4 style="text-align:center" class="images-title">Gaurav<br> Prasad</h4></a>
                        <a [routerLink]="['/gaurav']">     <p style="text-align: center">           <img src="https://infinity-effects.firebaseapp.com/gp2.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image"></p></a>
                    <p style="font-size: 10px" class="text-center">Chief Technical Officer</p>
                </div>

        </div>
        <div class="row">
        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1" routerLinkActive="active">
            <a [routerLink]="['/megha']">                                             <h4 style="text-align:center" class="images-title">Megha<br>Garg</h4></a>
                <a [routerLink]="['/megha']">        <p style="text-align: center">                 <img src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/mega.jpeg?alt=media&token=9fc68c3d-fd02-49a7-acfb-8a7bbb91470c" class="img-circle img-no-padding img-responsive" alt="Rounded Image"></p></a>
            <p style="font-size: 10px" class="text-center">Director</p>
        </div>
        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1" routerLinkActive="active">
            <a [routerLink]="['/arshia']">                                        <h4 style="text-align:center" class="images-title">Arshia<br> Agrawal</h4></a>
                <a [routerLink]="['/arshia']">      <p style="text-align: center">                            <img src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/arshia.jpeg?alt=media&token=5d9b4685-20a3-48b0-8357-a74afc58ab87" class="img-circle img-no-padding img-responsive" alt="Rounded Image"></p></a>
            <p style="font-size: 10px" class="text-center">Human Resource Manager</p>
        </div>
        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1" routerLinkActive="active">
            <a [routerLink]="['/kriti']">                                        <h4 style="text-align:center" class="images-title">Kriti<br> Mittal</h4></a>
                <a [routerLink]="['/kriti']">          <p style="text-align: center">                        <img src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/kriti.jpeg?alt=media&token=06ad8963-938a-4280-a241-9fdffb1ac719" class="img-circle img-no-padding img-responsive" alt="Rounded Image"></p></a>
            <p style="font-size: 10px" class="text-center">Region Head MP</p>
        </div>
            <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1" routerLinkActive="active">
                    <a [routerLink]="['/rakshita']">                                        <h4 style="text-align:center" class="images-title">Rakshita<br> Singhal</h4></a>
                        <a [routerLink]="['/rakshita']">          <p style="text-align: center">                        <img src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/rakshita.jpeg?alt=media&token=f661137a-e493-4944-9551-04013dc49e76" class="img-circle img-no-padding img-responsive" alt="Rounded Image"></p></a>
                    <p style="font-size: 10px" class="text-center">Region Head MP</p>
                </div>

        </div>
        <div class="row">
        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1" routerLinkActive="active">
                <a [routerLink]="['/pratik']">           <h4 style="text-align:center" class="images-title">Pratik<br> Gupta</h4></a>
                    <a [routerLink]="['/pratik']">   <p style="text-align: center">     <img src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/pratik.jpeg?alt=media&token=8c16ede7-5778-4f88-8080-1a622b773746" class="img-circle img-no-padding img-responsive" alt="Rounded Image"></p></a>
                <p style="font-size: 10px" class="text-center">Region Head Gujrat</p>
            </div>
        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1" routerLinkActive="active">
                <a [routerLink]="['/gagan']">                          <h4 style="text-align:center" class="images-title">Gagan<br>Goel</h4></a>
                    <a [routerLink]="['/gagan']">            <p style="text-align: center">                 <img src="https://scontent-bom1-2.xx.fbcdn.net/v/t31.0-8/26170620_1581515925274011_7486114019938893198_o.jpg?_nc_cat=104&_nc_oc=AQmaLUp2cLp-7MT95y_7nytalvOdGKAM7mDnqb8B5l5OZJEmgvJsj97EbWwG7X0ZABA&_nc_ht=scontent-bom1-2.xx&oh=59e995a671240e2f960e354611da132d&oe=5E2B6660" class="img-circle img-no-padding img-responsive" alt="Rounded Image"></p></a>
                <p style="font-size: 10px" class="text-center">Manager</p>
            </div>
        <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1" routerLinkActive="active">
                <a [routerLink]="['/shivang']">         <h4 style="text-align:center" class="images-title">Shivang<br>Kaul</h4></a>
                    <a [routerLink]="['/shivang']">  <p style="text-align: center">        <img src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/WhatsApp%20Image%202019-06-13%20at%2015.34.05.jpeg?alt=media&token=7961ae51-d1b1-42ef-ac60-feb6bdee3d14" class="img-circle img-no-padding img-responsive" alt="Rounded Image"></p></a>
                <p style="font-size: 10px" class="text-center">Mobile Application Developer</p>
            </div>
            
                <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1" routerLinkActive="active">
                        <a [routerLink]="['/vishal']">         <h4 style="text-align:center" class="images-title">Vishal<br> Sharma</h4></a>
                            <a [routerLink]="['/vishal']">  <p style="text-align: center">          <img src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/vishal.jpeg?alt=media&token=a7504449-b540-4461-ba68-1e039c15c353" class="img-circle img-no-padding img-responsive" alt="Rounded Image"></p></a>
                        <p style="font-size: 10px" class="text-center">Marketeer</p>
                    </div>

        </div>
        </div>
        </div>
<br><br>

  <!-- Mentors -->
  <app-mentors></app-mentors>
  <br><br>
 <!-- Feedback Form -->

<!-- <div class="form-area text-center">
    <img src="../assets/img/feedback.png">
      <form id="contact-form" method="post">
  <br>
        <input  id="email"  name="email" placeholder="Email" required/>
  <br>
        <select  id="category"name="category" placeholder="Category of Feedback" required>
            <option value="question">Question</option>
            <option value="request">Request to join the team</option>
            <option value="feedback">General Feedback</option>
        </select>
  <br>
        <textarea cols="20" rows="3" id="message" type="text" name="message" placeholder="Share your valueable Feedback"></textarea>
  <br>
        <button  class="s-btn" type="submit"  id="sumbit-btn">Sumbit</button>
  
      </form>
  </div> -->

<!---------------------------------- Communities -------------------------------------->


    <div class="main1">
            <div class="text-center">
                <hr>
                <h1 class="mainheader1">Join out Communities!</h1>
            </div>
            <div class="row">
                <div class="col-5 justify-content-center align-self-center">
                <img class="img-responsive img-fluid" src="https://storage.googleapis.com/myproject-243110.appspot.com/net2.png" width=100%>
                </div>
                <div class="col-6 align-self-center">
                <div class="text-container ">
                <p class="communitiespara">Inception Wave took the initiative to bring like minded people together and provide them a common 
                    platform to help them learn from each other and grow as an individual. We started with 5 communities for Artists, 
                    Writers, Photographers etc. and now we have more than 5000+ people in 36 communities combined.</p>
                </div>
                </div>
                <div class="col-1"></div>
            </div>
                <div class="buttons-container text-center communities-buttons">
                    <a href="https://chat.whatsapp.com/JFRCV4No4JzGTOH9fbcTtZ">
                        <button type="button" class="btn btn-default">Entrepreneurship</button>
                    </a>
                    <a href="https://chat.whatsapp.com/GBSaG3dLBTvEWuz1kuL8o6">
                        <button type="button" class="btn btn-success">Automobile Industry</button>
                    </a>
                    <a href="https://chat.whatsapp.com/FKbmCegUFBSJcPohuY3nIr">
                        <button type="button" class="btn btn-info">Fashionpreneurs</button>
                    </a>
                    <a href="https://chat.whatsapp.com/BsOQxKiA9ar8PeVvSQzOYL">
                        <button type="button" class="btn btn-warning">Daily Motivation</button>
                    </a>
                    <a href="https://chat.whatsapp.com/DOUE6ZoLy43CmviPBrOEXb">
                        <button type="button" class="btn btn-danger">Movies/TV Series Enthusiasts</button>
                    </a>

                    <a href="https://chat.whatsapp.com/GaWrW3lJj4f9wctYwXcgbN">
                        <button type="button" class="btn btn-danger">Artists</button>
                    </a>
                    <a href="https://chat.whatsapp.com/Fvly6Yb38j6G0I9q22wrHT">
                        <button type="button" class="btn btn-danger">Fitness</button>
                    </a>
                    <a href="https://chat.whatsapp.com/HKkZ7T0Xb1WGdSCUFVTVNt">
                        <button type="button" class="btn btn-danger">Writers</button>
                    </a>
                    <a href="https://chat.whatsapp.com/FttJbOSkzhmKwogXDhjH31">
                        <button type="button" class="btn btn-danger">Space and Exploration</button>
                    </a>
                    <a href="https://chat.whatsapp.com/KfD82m9pYQDCDrIGZUbdCa">
                        <button type="button" class="btn btn-danger">Wanderlust</button>
                    </a>
                    <a href="https://chat.whatsapp.com/LWW9AqJzaSqK6Xtpx1vJpg">
                        <button type="button" class="btn btn-danger">Developers</button>
                    </a>
                    <a href="https://chat.whatsapp.com/JL0RXk5dbcB17Cz232Dsqu">
                        <button type="button" class="btn btn-danger">Photographers</button>
                    </a>
                    <a href="https://chat.whatsapp.com/LSItbVZ93Ps6XtXReFIn3J">
                        <button type="button" class="btn btn-danger">News and Trending</button>
                    </a>

                    
                </div>
            
            </div>

<!-- 
    <div class="main">
        <app-components></app-components>
    </div> -->


    
<!-- <app-gallery></app-gallery> -->  
