<footer class="footer"> 
        <div>
            <h1 class="center">Contact Us</h1>
            <hr>
            <p class="center para">
                For any query, suggestion or feedback, feel free to contact us using below details.<br>
              <a href="tel:+917566194750"><img src="https://storage.googleapis.com/myproject-243110.appspot.com/phone.png" >7566194750</a><br>
               <a href="mailto:wave.inception@gmail.com"> <img src="https://storage.googleapis.com/myproject-243110.appspot.com/mail.png"> wave.inception@gmail.com</a>
            </p>
            
        </div>
</footer>
