<footer class="footer"> 
        <div>
            <h1 class="center">Contact Us</h1>
            <hr>
            <p class="center para">
                For any query, suggestion or feedback, feel free to contact us using below details.<br>
                <img src="../../../assets/img/phone.png">9717472713<br>
                <img src="../../../assets/img/phone.png">8617362801<br>
                <img src="../../../assets/img/mail.png">  mail.inception@gmail.com
            </p>

        </div>
</footer>
