<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image:linear-gradient(#4B79A1,#283E51)">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div style="max-width:100%;"class="avatar">
                    <img style="height:250px;width:250px" src="https://firebasestorage.googleapis.com/v0/b/eethal-magazine.appspot.com/o/pratik.jpeg?alt=media&token=8c16ede7-5778-4f88-8080-1a622b773746" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Pratik Gupta<br /></h4>
                    <h6 class="description">Marketeer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>He has keen interest in working with IOT related projects. He is well versed in C,C++ and is a Machine Learning enthusiast.He loves to play cricket and likes to listen to music in his spare time. He is a travel freak and always ready to learn new skills and explore new horizons.</p>
                    <br />
                 <a href="https://www.facebook.com/pratikgupta58367">   <button class="btn btn-outline-default btn-round"><i class="fa fa-facebook"></i></button></a>
                 <a href="https://www.instagram.com/pratik__g07/">   <button class="btn btn-outline-default btn-round"><i class="fa fa-instagram"></i></button></a>
                 <a href="https://www.linkedin.com/in/pratik-g-141180119">   <button class="btn btn-outline-default btn-round"><i class="fa fa-linkedin"></i></button></a>
                </div>
            </div>
            <br/>
        </div>
    </div>
</div>
